<?xml version="1.0"?>

<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find sim)/worlds/arena_v1.world"/>
        <arg name="verbose" value="true"/>
        <arg name="paused" value="false"/>
    </include>
    <node name="sim_update" pkg="sim" type="sim_update_node" output="screen"/> 
    
    <node name="sim_update_camera" pkg="sim" type="sim_update_camera" output="screen"/> 
    
    <node name="sim_attach_ball" pkg="sim" type="sim_attach_ball" output="screen"/>
    
</launch>